[project]
name = "rpgpdf2text"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.10"
dependencies = [
    "loguru>=0.7.3",
    "paramiko>=4.0.0",
    "pyyaml>=6.0.3",
]
